@import "prosemirror-view/style/prosemirror.css";

.editor {
  position: relative;
}

.editor *::before,
.editor *::after {
  box-sizing: border-box;
}

.editor .menubar button {
  appearance: none;
  background: none;
  border: none;
  border-radius: 2px;
  line-height: 1;
  padding: 0.4em 0.6em;
  margin: 0.2em;
  transition: all 0.2s;
  color: var(--foreground);
}

.editor .menubar button:hover {
  background: var(--transparentish);
}

.editor .menubar button.active {
  background: var(--accent-bg);
}

.editor .menubar button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.ProseMirror {
  width: 100%;
  padding: 0.5em;
  padding-bottom: 50vh;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.ProseMirror:focus {
  outline: lightskyblue solid;
}

.ProseMirror img {
  max-width: 100%;
}

.ProseMirror figure {
  margin: 0;
  padding: 0.5em 2em;
}
.ProseMirror figure figcaption::before {
  content: "Descripción: ";
  color: #666;
}

.ProseMirror blockquote {
  background-color: var(--transparentish);
  border-left: 5px solid var(--foreground);
  padding: 1.25em 1.5em;
  margin: 0.5em;
}
