@import "prosemirror-view/style/prosemirror.css";

.editor {
  position: relative;
}

.ProseMirror {
  width: 100%;
  padding: 0.5em;
  padding-bottom: 50vh;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.ProseMirror:focus {
  outline: lightskyblue solid;
}

.ProseMirror figure {
  margin: 0;
  padding: 0.5em 2em;
}
.ProseMirror figure figcaption::before {
  content: "Descripción: ";
  color: #666;
}
